<footer class="site-footer">
  powered by
  <a href="http://www.softwareinmotion.de" target="_blank" title="softwareinmotion gmbh">
    <%= image_tag 'softwareinmotion_logo.min.svg', :alt => 'softwareinmotion logo' %>
    softwareinmotion
  </a>
</footer>
