.site-header {
  min-height: 80px;

  > section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
  }

  a.back_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1ex;
    width: 50px;
  }
}
nav#login {
  float: right;
  text-align: right;
  margin-top: 15px;

  a {
    &:after {
      content: ' | ';
      color: rgb(80,80,80);
    }

    &:last-of-type:after {
      content: '';
    }
  }
}
a#logo {
  float: left;

  img {
    height: 60px;
  }
}

nav.header {
  @include gray-header-bg;
  padding: 10px 10px 5px 10px;
}

@media screen and (max-width: 480px) {
  .mobile-ready {
    .site-header > section {
      width: auto;
    }

    body {
      padding: 1em;
      section {
        width: auto;
      }
    }
  }
}
