.site-header {
  min-height: 80px;

  > section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
  }
}
nav#login {
  float: right;
  text-align: right;
  margin-top: 15px;

  a {
    &:after {
      content: ' | ';
      color: rgb(80,80,80);
    }

    &:last-of-type:after {
      content: '';
    }
  }
}
a#logo {
  float: left;

  img {
    height: 60px;
  }
}

nav.header {
  @include gray-header-bg;
  padding: 10px 10px 5px 10px;
}

@media handheld, screen and (max-device-width: 480px) {
  .mobile-ready {
    .site-header > section {
      width: auto;
    }

    body {
      section {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
      }
    }
  }
}
