.site-header {
  min-height: 80px;

  > section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
  }

  a.back_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1ex;
    width: 50px;
  }
}
nav#login {
  float: right;
  text-align: right;
  margin-top: 15px;

  a {
    &:after {
      content: ' | ';
      color: rgb(80,80,80);
    }

    &:last-of-type:after {
      content: '';
    }
  }
}
a#logo {
  float: left;

  img {
    height: 60px;
  }
}

nav.header {
  @include gray-header-bg;
  padding: 10px 10px 5px 10px;
}

.call-action {
  position: relative;
  z-index: 51;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 210px;

  a {
    background-color: #FF9900;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .mobile-ready {
    .site-header > section {
      width: auto;
    }

    body {
      padding: 1em;
      section {
        width: auto;
      }
    }
  }
  .field_with_errors input {
    margin-left: 0;
  }
}
