footer {
  clear: both;
  margin-top: 3ex;
  margin-bottom: 1ex;
  text-align: center;

  ul#module_navigation {
    clear: both;
    display: block;
    margin: 0 auto;

    li {
      margin: 0 1px;
    }

    li.selected > a > img  {
      border: 2px solid rgb(91,168,79);
      border-radius: 5px;
    }

    li.module {
      display: inline-block;
      text-align: center;
      background-image: none;

      img {
        width: 40px;
        border: 1px solid #C0C0C0;
        border-radius: 5px;
      }
    }
  }
}
.clear_floats {
  zoom: 1; /* IE 6 & 7 */

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.site-footer {
  font-size: 75%;
}

.app_bg {
  background-image: image-url("cherokey-button-blank.png");
}

.arrow_left {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow_right {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.flash_message {
  padding: 5px;
  font-size: 90%;
  background-repeat: repeat-x;
  background-size: contain;
  border-radius: 5px;
  text-align: center;
}

div#flasherror {
  @extend .flash_message;
  background-image: image-url('cherokey-error-msg.png');
}

div#flashnotice {
  @extend .flash_message;
  background-image: image-url('cherokey-success-msg.png');
}

div#flashwarning {
  @extend .flash_message;
  background-image: url('cherokey-flashwarning.png');
}

.navigation_tiles {
  margin: 30px auto;
  width: 640px;
  clear: both;
}

.error_explanation {
  border: 1px solid #f00;
  padding: 7px 7px 0;
  margin-bottom: 20px;

  h2 {
    color: #555555;
    font-size: 12pt;
    font-weight: normal;
    margin: -7px -7px 0;
    padding: 5px 5px 2px;
    text-align: left;
  }
  h4 {
    text-align: left;
  }

  ul {
    padding-left: 0;

    li {
      font-size: 10pt;
      list-style: none;
      padding-bottom: 3px;
      margin-bottom: 4px;

      h3 {
        font-weight: bold;
        margin: 2px 0;
      }
    }
  }
}
.field_with_errors {
  display: inline-block;
  input, select, textarea {
    border-color: #f00;
    margin-left: 1em
  }
}