// some variables
$border-color: #eceeef;

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  text-align: left;

  .tr:first-child, .col + .tr {
    font-weight: bold;
    background-color: #e9e9e9;

    .td {
      border-color: transparent;
    }
  }

  form {
    display: none;

    input {
      box-sizing: border-box;
      width: 100%;
      height: auto;
    }
  }

  a img {
    vertical-align: middle;
  }
}

.tr {
  display: table-row;
  border-color: $border-color;

  &:target {
    display: none;
  }
  &:target + * {
    display: table-row-group;
  }
  &:last-of-type .td {
    border-bottom: none;
  }
  &.table_sums {
    border-top-style: double;
  }
}

.td {
  display: table-cell;
  padding: .75em;
  border-top-style: solid;
  border-color: $border-color;
  border-width: 1px;

  &:first-of-type {
    border-left: none;
  }

  .field_with_errors {
    display: block;

    input {
      margin: 0;
    }
  }
}

.td.tools, .th.tools {
  text-align: right;
}

form {
  .td {
    &:last-child {
      border-left: none;
    }
  }

  .tr {
    background-color: #fff190;
  }

  input[type=image] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    box-sizing: content-box;
  }
}

.col {
  display: table-column;
}

.col.controls {
  width: 3.5em;
}

.table-empty {
  text-align: center;
  padding-top: .5em;
  margin-bottom: 1em;
}

