input, textarea, select {
  display: inline-block;
  border: .1em solid #97989C;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #999;
  width: 12em;
  padding: .1em;

  &[type=submit], &[type=reset]{
    width: 12.2em;
    background-image: image-url("cherokey-button-bg.png");
  }

  &[type=image], &[type=checkbox], &[type=radio] {
    border: none;
    width: auto;
    height: auto;
  }

  &[type=image] {
    border: none;
    box-shadow: none;
  }

  &[type=text] { height: auto; }
}

label {
  display: inline-block;
  width: 10.5em;
  text-align: right;
}

input[type=checkbox] + label,
input[type=radio] + label {
  text-align: left;
}

label ~ input,
label ~ textarea,
label ~ select,
label + span,
label ~ .fixed-field-value,
input[type=checkbox] ~ label,
input[type=radio] ~ label {
  margin-left: 1em;
}

textarea {
  height: 10ex;
}

div.field {
  width: 25.8em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

.form-headline {
  border-bottom: 1px solid;
  text-align: left;

  .controls {
    float: right;

    input {
      padding: 0;
    }
  }
}

.link_button {
  background-color: transparent;
  border: none;
  padding: 0, 0, 25px, 0;
  text-align: left;
  color: #3d8929;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .mobile-ready {
    label {
      display: block;
      text-align: left;
      width: 100%;
    }

    input,
    input[type=submit], input[type=reset]{
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 1em;
    }

    div.field, input[type=radio], input[type=checkbox] {
      width: auto;
    }

    label ~ input,
    label ~ textarea,
    label ~ select,
    label + span,
    label ~ .fixed-field-value,
    input[type=checkbox] ~ label,
    input[type=radio] ~ label {
      margin-left: 0;
    }
  }
}
