input {
  display: inline-block;
  border: 1px solid #97989C;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #999;
  width: 15em;
  padding: 2px;

  &[type=submit], &[type=reset]{
    position: relative;
    left: 4px;
    background-image: image-url("button_bg.png");
  }
  &[type=image], &[type=checkbox] {
    border: none;
    width: auto;
    height: auto;
  }
  &[type=image] {
    border: none;
    box-shadow: none;
  }
  &[type=text] {
    height: auto;
  }
}
label {
  display: inline-block;
  width: 8em;
  text-align: right;
  margin-right: 1em;
}
