input, textarea, select {
  display: inline-block;
  border: .1em solid #97989C;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #999;
  width: 12em;
  padding: .1em;

  &[type=submit], &[type=reset]{
    width: 12.2em;
    background-image: image-url("cherokey-button-bg.png");
  }

  &[type=image], &[type=checkbox], &[type=radio] {
    border: none;
    width: auto;
    height: auto;
  }

  &[type=image] {
    border: none;
    box-shadow: none;
  }

  &[type=text] { height: auto; }
}

label {
  display: inline-block;
  width: 10.5em;
  text-align: right;
}

input[type=checkbox] + label,
input[type=radio] + label {
  text-align: left;
}

label ~ input,
label ~ textarea,
label ~ select,
label + span,
label ~ .fixed-field-value,
input[type=checkbox] ~ label,
input[type=radio] ~ label {
  margin-left: 1em;
}

textarea {
  height: 10ex;
}

div.field {
  width: 25.8em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}
